.InfoBox {
  width: 100%;
  max-width: 500px;
}

.cardContainer .MuiCard-root {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 16px;
  overflow: hidden;
}

.cardContainer {
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.cardContainer h5 {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.cardContainer p {
  margin: 6px 0;
  font-size: 16px;
  line-height: 1.6;
}

